.dl-app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .scrollbar-wrapper {
      height: 100%;
      overflow-y: auto;
      border-top: 1px solid #4b4b4b;
    }
    .el-menu {
      border-right: none;
    }
    a {
      text-decoration: none;
    }
    .el-menu-item.is-active,
    .el-menu-item:hover {
      color: #333;
      background-color: #fff;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $hideSideBarWidth !important;
    }
    .main-container {
      margin-left: $hideSideBarWidth;
    }
  }
}
